/* .container ul{
    list-style-type: none;
    text-align: center;
}

.container li{
    display: inline;
    padding: 20px;
    background-color:#d2e0e0;
    margin-right: 20px;
} */

.nav-item a {
    color: white;
    padding: 20px;
}

.form-group {
    width: 50%;
    margin: 0px auto;
    padding-bottom: 10px;
}

nav.navbar, .btn-secondary {
    background-color: #5394d6!important;
}