.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.social-media-container {
  margin: 0px auto;
  width: 850px;
  height: 100%;
  border: 1px solid teal;
}
.my-post-container {
  height: auto;
  width: 100%;
  float: left;
  border: 1px solid grey;
}
.input-post {
  height: 250px;
  width: 100%;
  padding: 0;
}
.post {
  float: left;
  width: 100px;
  height: 40px;
  background-color: #00adff;
}
.add-location {
  float: right;
}