.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.palleteCardContainer {
  width: 400px;
  height: 500px;
  border: 2px solid teal;
  margin: 10px;
  display: inline-block;
}
.palleteHeader {
  width: 400px;
  height: 350px;
  display: block;
}
.palleteFooter {
  width: 400px;
  height: 150px;
  display: block;
}