.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.btn {
  display: block;
  float: left;
  margin: 0 20px 0 0;
}
.btn-container {
  margin-top: 20px;
}
.location-link {
  float: left;
}
textarea {
  display: block;
  width: 100%;
  min-height: 300px;
}
.socialMediaWrapper {
  margin: 0px auto;
  width: 65%;
}
.posts-list-wrapper {
  width: 100%;
  float: left;
  border: 1px solid grey;
  margin-top: 20px;
}
li {
  list-style: none;
}